@model TentsNTrails.Models.LocationFlagViewModel

<!-- Google Maps Scripting -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
    // Initialize the Map details.
    function initialize() {

        // center of map
        var mapCenter = new google.maps.LatLng(@ViewBag.centerLatitude, @ViewBag.centerLongitude);
        //var mapCenter = new google.maps.LatLng(39.8282, -98.5795);
        // initialize map properties
        var mapProp = {
            center: mapCenter,
            zoom: 4,
            mapTypeId: google.maps.MapTypeId.ROADMAP // types include ROADMAP, SATELLITE, HYBRID, and TERRAIN
        };

        // get the map
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        // add a markers to the map fir each of the book mark types
        @foreach (var item in Model.BeenThereLocations)
        {
            @:console.log("latitude:" + @item.Location.Latitude + " longitude: " +  @item.Location.Longitude);
                                        @:var marker = new google.maps.Marker({position: new google.maps.LatLng(@item.Location.Latitude, @item.Location.Longitude), map: map, icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'});
                                        @:var infowindow = new google.maps.InfoWindow({content: 'Loading...'});
                                        @:marker.html='<div><img id="location-image-preview" src="@Url.Content(item.Location.PreviewImageURL)" title="Preview Image" alt="Image of @item.Location.Label" style="width: 100px; height: auto; margin:0 auto;" /><br /><div class="label" text-align="center">@Html.ActionLink(item.Location.Label, "Details", "Location", new { id = item.Location.LocationID }, null)</div></div>';
                                        @:google.maps.event.addListener(marker, 'click', function() {infowindow.setContent(this.html); infowindow.open(map,this);});
                                            }
        // add a markers to the map
        @foreach (var item in Model.WantToGoLocations)
        {
            @:console.log("latitude:" + @item.Location.Latitude + " longitude: " +  @item.Location.Longitude);
                                        @:var marker = new google.maps.Marker({position: new google.maps.LatLng(@item.Location.Latitude, @item.Location.Longitude), map: map, icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'});
                                        @:var infowindow = new google.maps.InfoWindow({content: 'Loading...'});
                                        @:marker.html='<div><img id="location-image-preview" src="@Url.Content(item.Location.PreviewImageURL)" title="Preview Image" alt="Image of @item.Location.Label" style="width: 100px; height: auto; margin:0 auto;" /><br /><div class="label" text-align="center">@Html.ActionLink(item.Location.Label, "Details", "Location", new { id = item.Location.LocationID }, null)</div></div>';
                                        @:google.maps.event.addListener(marker, 'click', function() {infowindow.setContent(this.html); infowindow.open(map,this);});
                                             }
        // add a markers to the map
        @foreach (var item in Model.GoAgainLocations)
        {
            @:console.log("latitude:" + @item.Location.Latitude + " longitude: " +  @item.Location.Longitude);
                                        @:var marker = new google.maps.Marker({position: new google.maps.LatLng(@item.Location.Latitude, @item.Location.Longitude), map: map, icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'});
                                        @:var infowindow = new google.maps.InfoWindow({content: 'Loading...'});
                                        @:marker.html='<div><img id="location-image-preview" src="@Url.Content(item.Location.PreviewImageURL)" title="Preview Image" alt="Image of @item.Location.Label" style="width: 100px; height: auto; margin:0 auto;" /><br /><div class="label" text-align="center">@Html.ActionLink(item.Location.Label, "Details", "Location", new { id = item.Location.LocationID }, null)</div></div>';
                                        @:google.maps.event.addListener(marker, 'click', function() {infowindow.setContent(this.html); infowindow.open(map,this);});
                                                    }
    }

    // display the map
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

@{
    ViewBag.Title = "My Saved Locations";
}

<h2>@ViewBag.Title</h2>

@if (Model.HasSavedLocations)
{
    <!-- MAP OF BOOKMARKED LOCATIONS-->
    <div id="googleMap" style="width:80%;height:300px;" ></div>
    <p></p>

<table class="table centered">
    <tr>
        <th>
            Been There <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" alt="Blue Pin" style="height:70%" />
        </th>
        <th>
            Want to Go <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" alt="Red Pin" style="height:70%" />
        </th>
        <th>
            Want to Go Again <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png" alt="Green Pin" style="height:70%"/>
        </th>
    </tr>
        
    <tr>
        <td>
            @foreach (var item in Model.BeenThereLocations)
            {
                @Html.DisplayFor(modelItem => item.Location.Label)
                <br/>
            }
        </td>
        <td>
            @foreach (var item in Model.WantToGoLocations)
            {
                @Html.DisplayFor(modelItem => item.Location.Label)
                <br />
            }
        </td>
        <td>
            @foreach (var item in Model.GoAgainLocations)
            {
                @Html.DisplayFor(modelItem => item.Location.Label)
                <br />
            }
        </td>
    </tr>
</table>
}
else
{
    <p>
        Looks like you haven't saved any locations yet. Save a  
        <u>@Html.ActionLink("location", "Index", "Location")</u>
        that you've been to or want to go to.
    </p>
}
