@model TentsNTrails.Models.Location
<div>
    <span style="float:left;">
        @using (Html.BeginForm("CreateShort", "Review", FormMethod.Post, new { @id = "up" + item.LocationID }))
        {
            @Html.AntiForgeryToken();
            @Html.Hidden("LocationID", Model.LocationID);
            @Html.Hidden("Rating", true);
            @Html.Hidden("Comment", null);
            // The user must be logged in and they've made a rating for this location and it was an up vote
            if (Model.Ratings[item.LocationID] == 1)
            {
                <label for="@("UpSubmit" + Model.LocationID)" class="btn"><i class="glyphicon glyphicon-thumbs-up voted"></i></label>
            }
            else
            {
                <label for="@("UpSubmit" + Model.LocationID)" class="btn"><i class="glyphicon glyphicon-thumbs-up"></i></label>
            }
            <input id="@("UpSubmit" + Model.LocationID)" type="submit" value="Up" class="hidden" />
            @item.UpVotes()
        }
    </span>
    <span style="float:left;">
        @using (Html.BeginForm("CreateShort", "Review", FormMethod.Post, new { @id = "down" + item.LocationID }))
        {
            @Html.AntiForgeryToken();
            @Html.Hidden("LocationID", Model.LocationID);
            @Html.Hidden("Rating", false);
            @Html.Hidden("Comment", null);
            if (Model.Ratings[item.LocationID] == 0)
            {
               <label for="@("DownSubmit" + Model.LocationID)" class="btn"><i class="glyphicon glyphicon-thumbs-down voted"></i></label>
            }
            else
            {
                <label for="@("DownSubmit" + Model.LocationID)" class="btn"><i class="glyphicon glyphicon-thumbs-down"></i></label>
            }
            <input id="@("DownSubmit" + Model.LocationID)" type="submit" value="Down" class="hidden" />
            @Model.DownVotes()
        }
    </span>
</div>

